spring:
  application:
    name: vlog
  datasource:
    #PR시 데이터베이스 수정
    #url: jdbc:mysql://localhost:3306/vlog
    url: jdbc:mysql://localhost:3307/liondb
    username: root
#    password: 1111
    password: root1234

    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace